# Ruby files
.bundle/
.byebug_history
*.gem
coverage
webhook.lock
vendor/

# Vanagon/Build files
vanagon_hosts.log
ext/
output/

# SQLite Databases
**/*.sqlite
**/*.sqlite3

# App Ignores
logs/*.log
config/config.yml

# Editor Tools
.ruby_version
.tool-versions
.idea/
.vscode/

# YARDoc Files
.yardoc/
doc/
public/
