# Ruby files
.bundle/
.byebug_history
*.gem
coverage
webhook.lock
vendor/

# App Ignores
logs/*.log
config/config.yml

# Editor Tools
.ruby_version
.tool-versions
.idea/
.vscode/

# YARDoc Files
.yardoc/
doc/
public/
