[Unit]
Description=Puppet Webhook Sidekiq
PartOf=puppet-webhook.service
After=puppet-webhook.service

[Service]
EnvironmentFile=-/etc/sysconfig/puppet-webhook
EnvironmentFile=-/etc/default/puppet-webhook
WorkingDirectory=/opt/voxpupuli/webhook
ExecStart=/opt/voxpupuli/webhook/bin/bundle exec sidekiq -C config/sidekiq.yml -r ${WORKDIR}/config/environment.rb
ExecReload=/bin/kill -HUP $PID
KillMode=process

[Install]
WantedBy=puppet-webhook.service
