development:
  # Authentication
  protected: true
  user: puppet
  pass: puppet

  # Chatops Notification
  chatops: false

  # R10k
  default_branch: production
  ignore_environments: []
  allow_uppercase: true

  # Logging
  loglevel: debug

test: &development
