development:
  # Authentication
  protected: true
  user: puppet
  pass: puppet

  # Chatops Notification
  chatops: false

  # R10k
  default_branch: production
  ignore_environments: []
  allow_uppercase: true

  # Redis
  redis_url: "redis://localhost:6379/0"
  redis_password: password

  # Logging
  loglevel: debug

test: &development
